<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.PERSONALTRACKINGDBConnectionString"
            connectionString="Data Source=DESKTOP-C0TU3RB;Initial Catalog=PERSONALTRACKINGDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>